<ion-header>
  <ion-toolbar>
  	<ion-buttons  slot="start">
	 	<ion-icon (click)="goBack()" class="back_button" name="chevron-back-outline"></ion-icon>
	</ion-buttons>
    <ion-title class="header_txt">Purchase Credit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<div>
		<ion-grid class="grid_css">
			<ion-row class="row_css">
				<ion-col size="8">
					<p class="txt">Purchase 10 credits</p>
				</ion-col>
				<ion-col size="4">
					<ion-button class="button_rt" (click)="MyCridets('10')">$1</ion-button>
				</ion-col>
			</ion-row>
			<ion-row class="row_css">
				<ion-col size="8">
					<p class="txt">Purchase 20 credits</p>
				</ion-col>
				<ion-col size="4">
					<ion-button class="button_rt" (click)="MyCridets('20')">$2</ion-button>
				</ion-col>
			</ion-row>
			<ion-row class="row_css">
				<ion-col size="8">
					<p class="txt">Purchase 30 credits</p>
				</ion-col>
				<ion-col size="4">
					<ion-button class="button_rt" (click)="MyCridets('30')">$3</ion-button>
				</ion-col>
			</ion-row>
			<ion-row class="row_css">
				<ion-col size="8">
					<p class="txt">Purchase 40 credits</p>
				</ion-col>
				<ion-col size="4">
					<ion-button class="button_rt" (click)="MyCridets('40')">$4</ion-button>
				</ion-col>
			</ion-row>
			<ion-row class="row_css">
				<ion-col size="8">
					<p class="txt">Purchase 50 credits</p>
				</ion-col>
				<ion-col size="4">
					<ion-button class="button_rt" (click)="MyCridets('50')">$5</ion-button>
				</ion-col>
			</ion-row>
			<ion-row class="row_css">
				<ion-col size="8">
					<p class="txt">Purchase 60 credits</p>
				</ion-col>
				<ion-col size="4">
					<ion-button class="button_rt" (click)="MyCridets('60')">$6</ion-button>
				</ion-col>
			</ion-row>
			<ion-row class="row_css">
				<ion-col size="8">
					<p class="txt">Purchase 70 credits</p>
				</ion-col>
				<ion-col size="4">
					<ion-button class="button_rt" (click)="MyCridets('70')">$7</ion-button>
				</ion-col>
			</ion-row>
			<ion-row class="row_css">
				<ion-col size="8">
					<p class="txt">Purchase 80 credits</p>
				</ion-col>
				<ion-col size="4">
					<ion-button class="button_rt" (click)="MyCridets('80')">$8</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
