<ion-header>
  <ion-toolbar>
  	<ion-buttons  slot="start">
	 	<ion-icon (click)="goBack()" class="back_button" name="chevron-back-outline"></ion-icon>
	</ion-buttons>
    <ion-title class="header_txt">Help & Support</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<!--<div class="router_link">
		<ion-router-link href="#">Report a problem</ion-router-link><br><br>
		<ion-router-link href="#">Help Center</ion-router-link><br><br>
		<ion-router-link href="#">Support Requests</ion-router-link><br><br>
		<ion-router-link href="#">Privacy & Security Help</ion-router-link><br>
	</div> -->
	<h2 style="text-align: center;
    font-size: 17px;
    font-weight: bold;margin-top: 70px;">Help and Support</h2>
	<p style="    font-size: 12px;
    margin-left: 15px;">
		Welcome to Crowd!

		These Terms of Use (or “Terms”) govern your use of Crowd, except where we expressly state that separate terms (and not these) apply, and provide information about the Crowd Service (the “Service”), outlined below. When you create an Crowd account or use Crowd, you agree to these terms. The Crowd Terms of Service do not apply to this Service.
	</p>
	
	<div class="router_link">
		<a>Report a problem</a><br><br>
		<a>Help Center</a><br><br>
		<a>Support Requests</a><br><br>
		<a>Privacy & Security Help</a><br>
	</div>
</ion-content>
