.header_txt{
	text-align: right;
    margin-right: 12px;
    margin-top: 55px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #818ddb;
}
.back_button{
	color: #818ddb;
    font-size: 37px;
    margin-top: 38px;
}
.router_link{
	margin-top: 75px;
    margin-left: 25px;
}