.header_txt{
	text-align: right;
    margin-right: 12px;
    margin-top: 55px;
    margin-bottom: 15px;
    font-size: 22px;
    color: #818ddb;
}
.back_button{
	color: #818ddb;
    font-size: 37px;
    margin-top: 38px;
}
.title{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.par{
	margin-left: 15px;
	font-size: 13px;	
}