<ion-header>
  <ion-toolbar>
  	<ion-buttons  slot="start">
	 	<ion-icon (click)="goBack()" class="back_button" name="chevron-back-outline"></ion-icon>
	</ion-buttons>
    <ion-title class="header_txt">About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<h2 class="title">Crowd App</h2>
	<!-- <p class="par">.</p> -->
	<h4 style="margin-left: 10px;
    font-size: 15px;
    margin-bottom: 0;font-weight: bold;">Blawal Aleem</h4>
	<p style="margin-left: 10px;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;">Cofounder </p>
	<p style="margin-left: 10px;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;">Ryerson Alumni </p>
	<p style="margin-left: 10px;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;">Founder of Tutourist </p>
	<p style="margin-left: 10px;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;">Formerly at IBM Canada </p>
<!-- 
	<h4>Abdul Rafa</h4>
	<p>Cofounder</p><br>
	<p>Angel envestor</p><br>
	<p>Serial entrepreneur</p><br>
	<p>Software developer</p><br> -->

	<h2 style="margin-left: 12px;font-size: 15px;font-weight: bold;">The Crowd Service</h2>
	<p style="font-size: 12px;margin-left: 12px;">We agree to provide you with the Crowd Service. The Service includes all of the Crowd 		products, features, applications, services, technologies, and software that we provide to 	  advance Crowd's mission: To bring you closer to the people and things you love. The 			Service is made up of the following aspects:
		•	Offering personalized opportunities to create, connect, communicate, discover, and share.
		People are different. We want to strengthen your relationships through shared experiences you actually care about. So we build systems that try to understand who and what you and others care about, and use that information to help you create, find, join, and share in experiences that matter to you. Part of that is highlighting content, features, offers, and accounts you might be interested in, and offering ways for you to experience Crowd, based on things you and others do on and off Crowd.
		•	Fostering a positive, inclusive, and safe environment.
		We develop and use tools and offer resources to our community members that help to make their experiences positive and inclusive, including when we think they might need help. We also have teams and systems that work to combat abuse and violations of our Terms and policies, as well as harmful and deceptive behavior. We use all the information we have-including your information-to try to keep our platform secure. We also may share information about misuse or harmful content with other Crowd Companies or law enforcement. Learn more in the Data Policy.
		•	Developing and using technologies that help us consistently serve our growing community.
		Organizing and analyzing information for our growing community is central to our Service. A big part of our Service is creating and using cutting-edge technologies that help us personalize, protect, and improve our Service on an incredibly large scale for a broad global community. Technologies like artificial intelligence and machine learning give us the power to apply complex processes across our Service. Automated technologies also help us ensure the functionality and integrity of our Service.
	</p>

</ion-content>
