<ion-content padding style="background-color: #ffb900;">
  <div style="margin-top: 40%;" class="animated animate fadeInUpBig">
  	<h1 style="text-align: center;color: #d01313">Network Error</h1>
  	<img style="margin-top: 30px;" src="../assets/imgs/network.png">
  	<p style="text-align: center;
    width: 90%;
    margin-left: 5%;">There is no internet Connection. An unknown network error has occurred.Please coneect to the internet</p>
  </div>
  <!-- <button (click)="check()"  ion-button color="light" outline>Refresh</button> -->
  <ion-button style="    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 70px;
    color: #fff;
    border-color: #fff;
    width: 70%;" class="btn" outline shape="round" (click)="check()">Refresh</ion-button>
</ion-content>
