<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-icon (click)="goBack()" class="back_button" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-searchbar placeholder="Country currency"
                   showCancelButton
                   (ionInput)="filterItems($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let item of items" (click)="viewDetails(item)">
    <h3 class="country">{{ item.name}} </h3>
      <div slot="end" class="country">+ {{ item.callingCodes[0] }}</div>
  </ion-item>

</ion-content>
